ytd-comments, ytd-comment-thread-renderer {
    display: none !important;
}
/* #container{
    background: rgb(131, 5, 163) !important;
}
#columns{
    background: rgb(171, 24, 207) !important;
}
.ytd-compact-video-renderer{
    color: #fff !important;
} */